/* G3 Architects website fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* all body measuring */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* container */
.container{
    width: 80%;
    margin: 0 auto;
}


#header{
    background: rgba(255, 144, 14, 0.10);
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.nav{
    display: flex;
    gap: 30px;
}
.nav li{
    list-style: none;
} 
.nav li a{

    text-decoration: none;
}