/* G3 Architects website fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* all body measuring */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* container */
.container{
    width: 80%;
    margin: 0 auto;
}

/* Primary button */
.primary-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 18px 23px;
    border-radius: 8px;
    background: #FF900E;
    border: 1px solid #FF900E;
    cursor: pointer;
    transition: all ease 0.5s;
}
.primary-btn:hover{
    background: #fff;
    color: #FF900E;
}
/* Header part css style */
#header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 0px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.website-logo{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: normal;
}
.navigation > .nav{
    display: flex;
    gap: 30px;
}
.nav li{
    list-style: none;
} 
.nav li a{
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
    transition: all ease 0.3s;
}
/* Navigation css hover style  */
.nav li a:hover{
    color: #FF900E;
}
/* banner section css style */
#banner{

}
#banner .banner-content{
    max-width: 862px;
    margin: 100px auto 50px auto;
    text-align: center;
}
.banner-content .banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-content .banner-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 30px 0;
}
#banner img{
    width: 100%;
}



@media only screen and (max-width: 576px){
    .navigation{
        flex-direction: column;
    }
}